body{
    background-image:url(./6.jpg);
    min-height: 100vh;
      display: flex;
      flex-direction: column;
    
}

#root {
  flex: 1;
}

html, body {
  height: 100%;
}

.content {
  flex: 1 0 auto;
}
#footer {
  background-image:url("./1.jpg");
  text-align: center;
  margin:20px;
  margin-top: 10px;
/* padding-left:85px; */
  height: 60px;
  flex-shrink: 0;
  width: 100%;
}

h1 {
    opacity: 1.5;
   text-align: center;
    color: yellow !important;
  font-size: 75px !important;
  }
  
  h2 {
    text-align: center;
    color: black !important;
   font-size: 55px !important;
   }
   h3 {
    text-align: center;
    color: blue !important;
   font-size: 25px !important;
   }


  h4 {
    text-align: center;
    color: blue !important;
   font-size: 40px !important;
   }
   h5 {
    text-align: center;
    color: black !important;
   font-size: 25px !important;
   }
  
   h6 {
    text-align: center;
    color: blue !important;
   font-size: 20px !important;
   }
   h7 {
    font-size: 50px !important;
     color: #6744e7 !important;
   }

   h8 {
    font-size: 17px !important;
     color: black !important;
   }

   h9 {
    font-size: 17px !important;
     color: yellow !important;
   }
   p {
       color: black;
    /* text-align: center;
    color: #6744e7 !important; */
   font-size: 20px !important;
   }
  
  
 .card{
     margin: 5px;
 }