
body{
  background-image:url(css/6.jpg);
  min-height: 100vh;
    display: flex;
    flex-direction: column;
  
}
.nav{
  background-image: url(css/banner.jpg);
}
h1 {
  opacity: 1.5;
 text-align: center;
  color: yellow !important;
font-size: 75px !important;
}

h2 {
  text-align: center;
  color: black !important;
 font-size: 55px !important;
 }
 h3 {
  text-align: center;
  color: blue !important;
 font-size: 25px !important;
 }


h4 {
  text-align: center;
  color: blue !important;
 font-size: 40px !important;
 }
 h5 {
  text-align: center;
  color: black !important;
 font-size: 25px !important;
 }

 h6 {
  text-align: center;
  color: blue !important;
 font-size: 20px !important;
 }
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }